#container {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Lucida Sans', monospace;
}

.page {
    background-color: cyan;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    min-height: 120px;
    max-height: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 6px 10px 30px 5px rgba(0,0,0,1);
}

#username {
    margin: 1em;
}

#password {
    margin: 1em;
}
.signin {
    margin: 1em;
}
